# Virtual Environment
.venv/

# VS Code
.vscode/

# Environment variables
.env

# Database
*.db
*.pdf
#vector indices
storage/
bm25_index/
*.pkl

# FAISS indexes
*.faiss

# Logs
backend/evaluation/*.csv

# Uploaded documents
uploads/

# Python cache
__pycache__/
*.pyc